{% extends "base.html" %}

{% block content %}
<div class="container text-center error-page">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="error-code">403</div>
            <h1>Access Forbidden</h1>
            <p class="lead">You don't have permission to access this resource.</p>
            <p>Please check your credentials or contact an administrator if you believe this is an error.</p>
            <a href="{{ url_for('main.index') }}" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>
{% endblock %}